---
layout: base.liquid
---
<div>
  <p>
    <span>Written by {% authorName author %}</span>
    <span>on <time datetime="{{ page.date | date }}">{{ page.date | date: "d LLLL y" }}</time></span>
    {%- if modified -%}<span>, last modified on on <time datetime="{{ modified | date }}">{{ modified | date: "d LLLL y" }}</time></span>{%- endif -%}
    .
  </p>
</div>
{%- if excerpt -%}
  <div>
    {{ excerpt }}
  </div>
{%- endif -%}
<div>
  {{ content }}

  {{ page | json }}
</div>